.titleContainer 
{
    display: inline-flex;
}

.titleName 
{
    padding-left: 20px;
    font-size: 40px;
}

.pokeball 
{
    background-color: #e83030;
    border-right: solid;
    border-width: 6px;
    border-color: #f898a0;
    margin:0px;
    padding: 0px;
}
